!!!
%html
  %head
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
    <link rel="stylesheet" href="style/style.css" type="text/css" charset="utf-8" />  
  %body
    = link 'Home', '/'
    - if current_user
      = link 'Logout', '/logout'
    - else
      = link 'Signup', '/signup'
      = link 'Login', '/login'
    = link 'Show', '/show'
    = link 'Restricted', '/restricted'
    %br/
    %br/
    - if msg = notice
      = msg
      %br/
      %br/
    #container
      = yield
